body {
  background-color: #ecf0f1;
  font-family: 'Harmattan', sans-serif;
  color: black;
}
span {
  display: block;
  font-size: 17px;
}
.jumbotron{
  background-color: #00000000!important;
  padding-top:    2rem !important;
  padding-bottom: 1rem !important;
  padding-right:  2rem !important;
  padding-left:   2rem !important;
}
.card{
  background: #ecf0f1!important;;
  margin-bottom: 2rem;
  font-size: 25px;
  border-radius: 30px;
}
.card-header {
    background-color: #00000000!important;
}
.date{
  display: inline-block!important;
  font-size: 25px;
}
svg{
  margin: -15px -2px -2px -2px;
}
.wave-flipped{
  margin: -2px -2px -15px -2px;
  transform: scaleY(-1);
}
.copyright , .copyright a:hover {
  font-family: 'Indie Flower', cursive;
  color:black  !important;
}
.content a:hover{
  font-family: 'Harmattan', sans-serif;
  color:black  !important;
  text-decoration: none;
}
a{
  color : #dc3545!important;
  text-decoration: underline;
}
a:hover{
    color:black!important;
  text-decoration: none;
}

/* Color Switcher  */
body.blue{
  background: #3498db;
}
body.red{
  background: #e74c3c;
}
body.green {
  background: #218c74;
}
body.tiffany{
  background: #1abc9c;
}
body.yellow {
  background: #f1c40f;
}
body.orange{
  background: #f39c12;
}
body.purple{
  background: #8e44ad;
}
body.grey{
  background: #7f8c8d;
}
body.dark{
  background: #343a40;
}
.color{
  width: 40px;
  height: 40px;
  border-radius: 100%;
  margin: 5px;
}

#blueButton{
  background: #3498db;
}
#redButton{
  background: #e74c3c;
}
#greenButton{
  background: #218c74;
}
#tiffanyButton{
  background: #1abc9c;
}
#yellowButton{
  background: #f1c40f;
}
#orangeButton{
  background: #f39c12;
}
#purpleButton{
  background: #8e44ad;
}
#greyButton{
  background: #7f8c8d;
}
#darkButton{
  background: #343a40;
}
/* Color Switcher  */
/* 2nd modal */
.modal-2nd{
  margin-top: 65px;
}
/* 2nd modal */
